<!-- edit meal page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Meal</title>
    <style>
      button{
        background-color: #aed581;
      }
      .cancel{ background-color: #aed581;}
    </style>
  </head>
  <body>
    <h1>Edit Meal</h1>

    <form action="/meals/<%= meal._id %>?_method=PUT" method="POST">
      <label for="photoUrl">Photo URL:</label>
      <input type="text" name="photoUrl" id="photoUrl" value="<%= meal.photoUrl %>" required />

      <label for="ingredients">Select Ingredients:</label>
      <select name="ingredients" id="ingredients" multiple size="10">
        <% ingredients.forEach(ingredient => { %>
          <option 
            value="<%= ingredient._id %>" 
            <%= meal.ingredients.includes(ingredient._id) ? "selected" : "" %>>
            <%= ingredient.name %>
          </option>
        <% }) %>
      </select>
<br>
      <button type="submit">Update Meal</button>
    </form>
<form action="/meals/<%= meal._id %>">
  <input class="cancel" type="submit" value="Cancel"/>
</form>
  </body>
</html>
